*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 20px;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

h1 {
    color: rgb(218, 45, 218);
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}